<h1>New Day Added</h1>

<%= form_tag "/programmes", method: :post do %>
<div>
  Day: <input type="name" name="day">
</div>
<div>
  Venue: <input type="name" name="venue">
</div>
<div>
  Description: <input type="name" name="description">
</div>
<div>
  Duration: <input type="name" name="duration">
</div>

<div>
  <input type="submit" name="Added new day ">
</div>
<% end %>

